*,
::after,
::before {
    box-sizing: border-box;
}

/* fonts */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

html {
    font-size: 100%;
}

/*16px*/

:root {
    /* colors */
    --primary-100: #e2e0ff;
    --primary-200: #c1beff;
    --primary-300: #a29dff;
    --primary-400: #837dff;
    --primary-500: #645cff;
    --primary-600: #504acc;
    --primary-700: #3c3799;
    --primary-800: #282566;
    --primary-900: #141233;

    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    /* rest of the colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;

    /* fonts  */
    --headingFont: 'Roboto', sans-serif;
    --bodyFont: 'Nunito', sans-serif;
    --smallText: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;

    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
    background: var(--backgroundColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text-small {
    font-size: var(--smallText);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* buttons */

.btn {
    cursor: pointer;
    color: var(--white);
    background: var(--primary-500);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transtion);
    text-transform: capitalize;
    display: inline-block;
}

.btn:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
}

.btn-hipster {
    color: var(--primary-500);
    background: var(--primary-200);
}

.btn-hipster:hover {
    color: var(--primary-200);
    background: var(--primary-700);
}

.btn-block {
    width: 100%;
}

/* alerts */
.alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--borderRadius);
}

.alert-danger {
    color: var(--red-dark);
    background: var(--red-light);
}

.alert-success {
    color: var(--green-dark);
    background: var(--green-light);
}

/* form */

.form {
    width: 90vw;
    max-width: var(--fixed-width);
    background: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
}

.form-label {
    display: block;
    font-size: var(--smallText);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: var(--borderRadius);
    background: var(--backgroundColor);
    border: 1px solid var(--grey-200);
}

.form-row {
    margin-bottom: 1rem;
}

.form-textarea {
    height: 7rem;
}

::placeholder {
    font-family: inherit;
    color: var(--grey-400);
}

.form-alert {
    color: var(--red-dark);
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
}

/* alert */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid var(--grey-400);
    border-radius: 50%;
    border-top-color: var(--primary-500);
    animation: spinner 0.6s linear infinite;
}

.loading {
    margin: 0 auto;
}

/* title */

.title {
    text-align: center;
}

.title-underline {
    background: var(--primary-500);
    width: 7rem;
    height: 0.25rem;
    margin: 0 auto;
    margin-top: -1rem;
}

/*
===============
Navbar
==============
*/
.container {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 30px;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 2px;
    background-color: #FFFFFF;
    margin: 5.5px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -2px);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.nav-colored {
    background-color: rgb(16, 16, 16);

}

.nav-transparent {
    background-color: transparent;
}


.navbar-show {
    background: #101010;
}

.nav-position {
    position: fixed;
}

.nav-center {
    width: 90vw;
}

.nav-header {
    margin-top: 15px;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.65);
    transition: var(--transition);
}

.nav-logo span {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
}

.nav-logo1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.65);
    transition: var(--transition);
}

}

.nav-logo1 span {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
}

.nav-header a:hover .nav-logo {
    display: none;
    transition: inherit;
}

.nav-header a:hover .nav-logo1:before {
    content: "Download CV";
    animation-name: anilogo;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes anilogo {
    0% {
        transform: translateY(10px);
        color: #ffffff;
    }
}

.nav-links {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    margin-bottom: 0;
    margin-top: 0;
}

.nav-links-show {
    height: 100vh;
}

.nav-link {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.65);
    border-bottom: 1pt solid #282828;
    border-width: thin;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link-1:hover {
    color: #ffffff;

    animation-name: ani1;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes ani1 {
    0% {
        transform: translateY(10px);
        color: #ffffff;
    }
}

.nav-link-2:hover {
    color: #ffffff;
    animation-name: ani2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes ani2 {
    0% {
        transform: translateY(10px);
        color: #ffffff;
    }
}

.nav-link-3:hover {
    color: #ffffff;
    animation-name: ani3;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes ani3 {
    0% {
        transform: translateY(10px);
        color: #ffffff;
    }
}

.nav-link-4:hover {
    color: #ffffff;
    animation-name: ani4;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes ani4 {
    0% {
        transform: translateY(10px);
        color: #ffffff;
    }
}

.nav-link-5:hover {
    color: #ffffff;
    animation-name: ani5;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes ani5 {
    0% {
        transform: translateY(10px);
        color: #ffffff;
    }
}

@media screen and (min-width: 992px) {
    .container {
        display: none;
    }

    .navbar {
        height: 6rem;
    }

    .nav-center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    .nav-header {
        padding: 0;
        height: auto;
    }

    .nav-logo {
        min-width: 190px;
    }

    .nav-logo1 {
        min-width: 190px;
    }

    .nav-links {
        height: auto;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        border: 0;
    }

    .nav-link {
        padding: 0;
        border-top: none;
        margin-right: 1rem;
        font-size: 1rem;
        border: 0;
        margin-left: 30px;
    }
}

/*
==============
left footer
==============
*/
.left-footer {
    display: none;
    justify-content: flex-start;
    top: auto;
    box-sizing: border-box;
    line-height: 25.6px;
    padding-left: 0px;
    text-rendering: optimizeLegibility;
    width: 200px;
    z-index: 99;
    text-align: left;

}


.left-soc-box {
    top: 230px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    position: fixed;
    text-align: left;
}

.left-footer-hide {
    display: none;
}

.left-ion {
    color: rgb(187, 187, 187);
    margin-bottom: 13px;
    line-height: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.left-follow-header {
    writing-mode: vertical-rl;
    color: #bbbbbb;
    font-family: 'ROboto', sans-serif;
    line-height: 24px;
    font-size: 14px;
    position: relative;
    display: none;
}

.left-follow-header:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 50%;
    width: 1px;
    height: 50px;
    background: #fff;
    margin-top: 20px;
}

.left-soci {
    margin-top: 280px;
}

@media screen and (min-width: 1280px) {
    .left-footer {
        display: flex;
    }
}

/*
============
Footer
============
*/

.footer {
    display: flex;
    justify-content: flex-end;
    top: auto;
    box-sizing: border-box;
    line-height: 25.6px;
    padding-left: 0px;
    text-rendering: optimizeLegibility;
    width: 100px;
    z-index: 99;
    margin-left: auto;
}


.soc-box {
    top: 230px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    text-align: center;
    position: fixed;
}

.footer-hide {
    display: none;
}

.ion {
    color: rgb(187, 187, 187);
    font-size: 16px;
    margin-bottom: 13px;
}

.follow-header {
    writing-mode: vertical-rl;
    color: #bbbbbb;
    font-family: 'ROboto', sans-serif;
    line-height: 24px;
    font-size: 14px;
    position: relative;
    display: none;
}

.follow-header:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 50%;
    width: 1px;
    height: 50px;
    background: #fff;
    margin-top: 20px;
}

.soci {
    margin-top: 220px;
}

@media screen and (min-width: 992px) {
    .soci {
        margin-top: 100px;
    }

    .ion {
        margin-bottom: 25px;
    }

    .follow-header {
        display: block;
    }

    .left-footer {
        margin-left: 50px;
    }
}

/*
=============
Main page
=============
*/
.page {
    width: 100%;
    margin: 0 auto;
    /*border: 2px solid red;*/
    box-sizing: border-box;
}

.page {
    background: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-hide {
    display: none;
}

.hero {
    display: grid;
    grid-template-rows: 1fr;
    max-width: 855px;
    height: 600px;
    margin-top: 0;
    background: url('../assets/nechboy3.jpg') center/cover no-repeat;
}

.hero-container {
    width: 100%;
    height: 100%;
    background: rgba(5, 5, 5, 0.2);

}

.hero-heading {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-transform: none;
    margin-top: 300px;


}

.hero-heading-1 {
    color: #4bffa5;
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: #ffffff;
    bottom: 8px;
    width: 80%;
    margin-left: 10px;

}

.hero-text-1 {
    color: #4bffa5;
    font-weight: 800;
}

@media screen and (min-width: 855px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero {
        max-width: 855px;
    }
}

@media screen and (min-width: 685px) {
    .hero-heading {
        font-size: 60px;
    }

    .hero-text {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) {
    .hero-heading {
        font-size: 80px;
    }
}

/*==============
long-container
=============*/
.long-container {
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: center;

}

.size-container {
    width: 855px;
    max-width: 855px;
    border: 2px solid green;


}

/*.vertical-line {}

.vertical-line {
    content: "";
    width: 10px;
    height: 100%;
    display: ;
    left: 50%;
    position: relative;
    z-index: -1;
    background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
    background-image: -moz-linear-gradient(top, #fff, #000, #fff);
    background-image: -ms-linear-gradient(top, #fff, #000, #fff);
    background-image: -o-linear-gradient(top, #fff, #000, #fff);
    background-image: linear-gradient(top, #fff, #000, #fff);
}*/
.profile {
    height: auto;
    border: solid rgba(204, 204, 204, 0.25);
    border-width: 0.01rem;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
}

.profile-image {

    height: 112.5px;
    width: 100px;
    display: block;
    margin: auto;
    background: url(../assets/my3.jpeg) center/cover no-repeat;
}

.profile-container {
    text-transform: none;
    margin-top: 20px;

    font-family: 'Roboto', sans-serif;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
}

.profile-data {

    text-align: center;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #bbbbbb;
    font-weight: 400;
    line-height: 7px;
    margin-top: 5px;
}

.profile-qn {
    color: #4bffa5;
}

.profile-ans {
    color: #bbbbbb;
}

.download-cv {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    color: #4bffa5;
    background: transparent;
    border-radius: 0;
    padding: 13px 17px;
    border: 2px solid #4bffa5;
    border-radius: 0;
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;

    background: linear-gradient(to right, #4bffa5 50%, #101010 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.download-cv a {
    text-decoration: none;
    color: #4bffa5;
}

.download-cv:hover {
    background-position: left;
}

.download-cv:hover a {
    color: #101010;


}

@media screen and (min-width: 738px) {
    .profile {
        border: solid rgba(204, 204, 204, 0.25);
        border-width: 0.01rem;
        margin-top: 70px;
        margin-left: 30px;
        margin-right: 30px;
        display: grid;
        grid-template-columns: 160px 1fr;

    }

    .profile-image {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: 120px;
        height: 135px;
    }

    .profile-container {
        text-align: left;
    }

    .profile-data {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .size-container {
        border: solid rgba(204, 204, 204, 0.25);
        border-width: thin;
        border-top: 0;
    }

    .download-cv {
        margin-left: 0;
    }


}

@media screen and (min-width: 1180px) {
    .profile {
        margin-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-columns: 200px 1fr;
        font-size: 16px;
        font-weight: 500;
    }

    .profile-image {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: 160px;
        height: 180px;
    }
}

.service-header {

    border-width: thin;
    height: 200px;
    display: flex;
    align-items: flex-end;

}

.service-header h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    color: #ffffff;
    margin-left: 30px;
}

/*
================
list of box
================
*/
.list-box {
    height: auto;
    border: solid rgba(204, 204, 204, 0.25);
    border-width: 0.01rem;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.box-row-1 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.box-row-2 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.box-row-4 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.box-row-3 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.box-row-4 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.box-1 {
    height: 200px;
    border: solid rgba(204, 204, 204, 0.25);
    border-width: thin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.box-2 {
    height: 200px;
    border: solid rgba(204, 204, 204, 0.25);
    border-width: thin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.box-3 {
    height: 200px;
    border: solid rgba(204, 204, 204, 0.25);
    border-width: thin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.box-4 {
    height: 200px;
    border: solid rgba(204, 204, 204, 0.25);
    border-width: thin;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;

}

.box-row-4 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.box-row-4-sub {
    border: solid rgba(204, 204, 204, 0.25);
    border-width: thin;

}

.box-2-3 {
    height: 200px;
    border: solid rgba(204, 204, 204, 0.25);
    border-width: thin;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: left;
    padding-left: 20px;


}

.i-icon {
    color: #4bffa5;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.list-header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #ffffff;
}

.list-para p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #bbbbbb;
    margin-left: 20px;
    margin-right: 20px;
}

.ex-yr p {
    font-family: 'Roboto'. sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 5px;
    color: #4bffa5;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ex-comp {
    margin-bottom: 10px;
    margin-top: 0;
    width: 100px;
    height: 32px;
    background: url(../assets/fb1.png) center/cover no-repeat;
}

.ex-comp-1 {
    margin-top: 20px;
}

.ex-position h4 {
    font-family: 'Roboto'. sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    color: #ffffff;
}

.ex-para p {
    font-family: 'Roboto'. sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    color: #bbbbbb;
}


.box-row-3-h {

    border-width: thin;
    height: 200px;
    display: flex;
    align-items: center;

    margin-right: 50%;
}

.box-row-3-h h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    color: #ffffff;
    margin-left: 30px;
}

.design-skill {
    height: 150px;
    margin-bottom: 0;
}

.box-row-4-sub ul {
    margin-left: 20px;
    margin-right: 20px;
}

li .name {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: var(--letterSpacing);
}

.per-num {
    font-weight: 400;
    color: #bbbbbb;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background: #282828;
    margin-bottom: 10px;
    margin-top: 10px;
}

.percentage-1 {
    width: 90%;
    height: 5px;
    background: #4BFFA5;
}

.percentage-2 {
    width: 70%;
    height: 5px;
    background: #4BFFA5;
}

.percentage-3 {
    width: 95%;
    height: 5px;
    background: #4BFFA5;
}

.percentage-4 {
    width: 85%;
    height: 5px;
    background: #4BFFA5;
}

/*======row5=========*/
.box-row-5 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    border: solid rgba(204, 204, 204, 0.25);
    border-width: thin;
    box-sizing: border-box;
    padding: 20px;
}

.lang-1,
.lang-2 {
    width: 60%;
}

.lang-name span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #ffffff;
    letter-spacing: var(--letterSpacing);
}

.progress-dot {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.progress-dot span {

    height: 14px;
    width: 14px;
    background: #4BFFA5;
    background-size: auto;
    border-radius: 6px;
}

.dot-color {
    width: 100%;
    height: 100%;
}

/*===============row 6=====================*/

.box-row-6 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid rgba(204, 204, 204, 0.25);
    border-width: thin;
    box-sizing: border-box;
    padding: 20px;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5,
.circle-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg circle {
    fill: none;
    stroke: #4BFFA5;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 0;
}

.circle-1 svg,
.circle-2 svg,
.circle-3 svg,
.circle-4 svg,
.circle-5 svg,
.circle-6 svg {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.circle-1 svg circle {
    stroke-dashoffset: 270;
}

.circle-2 svg circle {
    stroke-dashoffset: 290;
}

.circle-3 svg circle {
    stroke-dashoffset: 280;
}

.circle-4 svg circle {
    stroke-dashoffset: 280;
}

.circle-5 svg circle {
    stroke-dashoffset: 275;
}

.circle-6 svg circle {
    stroke-dashoffset: 345;
}

.code-lang {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #ffffff;

}

/*================Interest===================*/
.box-row-7,
.box-row-8 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

/*================hof======================*/
.box-row-9 {
    height: auto;
    border: solid rgba(204, 204, 204, 0.25);
    border-width: thin;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}

.hof {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}

.hof-8 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hof-8 span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    color: #ffffff;
    letter-spacing: var(--letterSpacing);
}

.box-row-9:hover .hof-8 span {
    font-size: 26px;
    /*color: #4BFFA5;*/
}

/*=============contact info=================*/
.box-row-10,
.box-row-11 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

@media screen and (min-width: 738px) {

    .box-row-1,
    .box-row-2,
    .box-row-7,
    .box-row-8,
    .box-row-10,
    .box-row-11 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    .box-row-3 {
        display: flex;
        justify-content: space-between;

    }

    .box-row-3-sub {
        width: 50%;
    }

    .box-row-5 {
        grid-template-columns: 1fr;
    }

    .box-row-6 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .box-row-9 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 1180px) {
    .list-box {
        margin-left: 0;
        margin-right: 0;
    }
}